<center>
	<h1>BATTLE</h1>
</center>

{{!-- <div class="battle-hero">
	<img src="images/{{ character.imgUrl }}" alt="{{character.name}}">
</div>

<div class="battle-enemy">
	<img src="images/{{ enemy.imgUrl }}" alt="{{enemy.name}}">
</div> --}}


{{!-- the photo of whatever the 'chosen' character is --}}

{{!-- the photo of the enemy depending on the round --}}
