@import 'reset';
@import 'bourbon';
@import 'neat';

@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html {
  box-sizing: border-box;
  font-family: 'Droid Sans Mono';
  background-color: black;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// START SCREEN

.game {
	@include span-columns(6);
	position: absolute;
	border: 1px solid black;
	color: white;
	background-color: #400080;
	text-align: center;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -30%);
	padding-bottom: 3em;
	padding-top: 3em;
}
.game h1{
	padding-bottom: 3em;
}
.start-pic {
	display: inline;
}
.start-name {
	text-align: center;
	font-family: 'Droid Sans Mono';
	display: inline;
}
.start-name {
	font-size: 1em;
	font-family: 'Droid Sans Mono';
	background-color: black;
	color: white;
	border-color: red;
	padding-right: 2em;
	padding-left: 2em;
}

// BATTLE SCREEN

.sprites {
	background-color: white;
	@include span-columns(12);
	padding-top: 1em;
	padding-bottom: 1em;
}
.sprite-name {
	padding-top: 1em;
	color: black;
	font-weight: 900;
}
.sprite-hero {
	@include span-columns(6 of 12);
}
.sprite-enemy {
	@include span-columns(6 of 12);
}
.health {
	color: black;
	padding-top: 1em;
	padding-bottom: 1em;
}
.attack {
	color: white;
	background-color: black;
	border: 2px solid red;
	font-size: .9em;
	font-family: 'Droid Sans Mono';
}
.enemy-attack {
	color: black;
	font-size: .9em;
	font-family: 'Droid Sans Mono';
}

// WIN SCREEN

// LOSE SCREEN

