<center>
	<h1>BATTLE</h1>
</center>

<div class="test">
	<img src="images/{{hero.spriteUrl}}" alt="{{hero.name}}">
</div>

{{!-- {{#each heroes as |character|}}
    <div class="test">
        <img src="images/{{ character.spriteUrl }}" alt="{{character.name}}">
    </div>
{{/each}} --}}

{{!-- the photo of whatever the 'chosen' character is --}}

{{!-- the photo of the enemy depending on the round --}}
