<center>
	<h1>SELECT YOUR CHARACTER</h1>
</center>

{{#each this as |character|}}
    <div class="start-pic">
        <img src="images/{{ character.imgUrl }}" alt="{{character.name}}">
    </div>
{{/each}}

{{#each this as |character|}}
        <button data-index="{{@index}}" class="start-name">{{character.name}}</button>
{{/each}}
